PORT=3001
NODE_ENV=development
HOST=0.0.0.0
RPC_ENDPOINT=https://api.mainnet-beta.solana.com
BACKUP_RPC=https://solana-api.projectserum.com
JUPITER_API=https://api.jup.ag/swap/v1
ALLOWED_ORIGINS=http://localhost:3000, http://localhost:3001
LOG_LEVEL=info
GENERAL_RATE_LIMIT_MAX=100
SWAP_RATE_LIMIT_MAX=10
BOT_RATE_LIMIT_MAX=5
JWT_SECRET
API_KEY
BOT=true
SWAP=true
PRICE=true
WALLET_IMPORT=true